certifi==2026.2.25
charset-normalizer==3.4.6
confluent-kafka==2.13.2
databricks-sql-connector==4.2.5
et_xmlfile==2.0.0
Faker==40.11.0
idna==3.11
joblib==1.5.3
lz4==4.4.5
numpy==2.4.3
oauthlib==3.3.1
openpyxl==3.1.5
pandas==2.3.3
pybreaker==1.4.1
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
thrift==0.20.0
tzdata==2025.3
urllib3==2.6.3
